In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

Matplotlib is building the font cache; this may take a moment.

In [6]:
df2 = pd.read_csv('acs2017_county_data.csv')

In [7]:
df2.head()

,CountyId,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,1001,Alabama,Autauga County,55036,26899,28137,2.7,75.4,18.9,0.3,...,0.6,1.3,2.5,25.8,24112,74.1,20.2,5.6,0.1,5.2
1,1003,Alabama,Baldwin County,203360,99527,103833,4.4,83.1,9.5,0.8,...,0.8,1.1,5.6,27.0,89527,80.7,12.9,6.3,0.1,5.5
2,1005,Alabama,Barbour County,26201,13976,12225,4.2,45.7,47.8,0.2,...,2.2,1.7,1.3,23.4,8878,74.1,19.1,6.5,0.3,12.4
3,1007,Alabama,Bibb County,22580,12251,10329,2.4,74.6,22.0,0.4,...,0.3,1.7,1.5,30.0,8171,76.0,17.4,6.3,0.3,8.2
4,1009,Alabama,Blount County,57667,28490,29177,9.0,87.4,1.5,0.3,...,0.4,0.4,2.1,35.0,21380,83.9,11.9,4.0,0.1,4.9

In [8]:
df2.columns

Index(['CountyId', 'State', 'County', 'TotalPop', 'Men', 'Women', 'Hispanic',
       'White', 'Black', 'Native', 'Asian', 'Pacific', 'VotingAgeCitizen',
       'Income', 'IncomeErr', 'IncomePerCap', 'IncomePerCapErr', 'Poverty',
       'ChildPoverty', 'Professional', 'Service', 'Office', 'Construction',
       'Production', 'Drive', 'Carpool', 'Transit', 'Walk', 'OtherTransp',
       'WorkAtHome', 'MeanCommute', 'Employed', 'PrivateWork', 'PublicWork',
       'SelfEmployed', 'FamilyWork', 'Unemployment'],
      dtype='object')

In [9]:
df2.shape

(3220, 37)

In [12]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3220 entries, 0 to 3219
Data columns (total 37 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CountyId          3220 non-null   int64
 1   State             3220 non-null   object
 2   County            3220 non-null   object
 3   TotalPop          3220 non-null   int64
 4   Men               3220 non-null   int64
 5   Women             3220 non-null   int64
 6   Hispanic          3220 non-null   float64
 7   White             3220 non-null   float64
 8   Black             3220 non-null   float64
 9   Native            3220 non-null   float64
 10  Asian             3220 non-null   float64
 11  Pacific           3220 non-null   float64
 12  VotingAgeCitizen  3220 non-null   int64
 13  Income            3220 non-null   int64
 14  IncomeErr         3220 non-null   int64
 15  IncomePerCap      3220 non-null   int64
 16  IncomePerCapErr   3220 non-null   int64
 17  Poverty           3220 non-null   float64
 18  ChildPoverty      3219 non-null   float64
 19  Professional      3220 non-null   float64
 20  Service           3220 non-null   float64
 21  Office            3220 non-null   float64
 22  Construction      3220 non-null   float64
 23  Production        3220 non-null   float64
 24  Drive             3220 non-null   float64
 25  Carpool           3220 non-null   float64
 26  Transit           3220 non-null   float64
 27  Walk              3220 non-null   float64
 28  OtherTransp       3220 non-null   float64
 29  WorkAtHome        3220 non-null   float64
 30  MeanCommute       3220 non-null   float64
 31  Employed          3220 non-null   int64
 32  PrivateWork       3220 non-null   float64
 33  PublicWork        3220 non-null   float64
 34  SelfEmployed      3220 non-null   float64
 35  FamilyWork        3220 non-null   float64
 36  Unemployment      3220 non-null   float64
dtypes: float64(25), int64(10), object(2)
memory usage: 905.7+ KB

In [13]:
# Here I dropped all the one null value I found with child poverty percentage.
df2 = df2.dropna(how='any',axis=0)

In [14]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3219 entries, 0 to 3219
Data columns (total 37 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CountyId          3219 non-null   int64
 1   State             3219 non-null   object
 2   County            3219 non-null   object
 3   TotalPop          3219 non-null   int64
 4   Men               3219 non-null   int64
 5   Women             3219 non-null   int64
 6   Hispanic          3219 non-null   float64
 7   White             3219 non-null   float64
 8   Black             3219 non-null   float64
 9   Native            3219 non-null   float64
 10  Asian             3219 non-null   float64
 11  Pacific           3219 non-null   float64
 12  VotingAgeCitizen  3219 non-null   int64
 13  Income            3219 non-null   int64
 14  IncomeErr         3219 non-null   int64
 15  IncomePerCap      3219 non-null   int64
 16  IncomePerCapErr   3219 non-null   int64
 17  Poverty           3219 non-null   float64
 18  ChildPoverty      3219 non-null   float64
 19  Professional      3219 non-null   float64
 20  Service           3219 non-null   float64
 21  Office            3219 non-null   float64
 22  Construction      3219 non-null   float64
 23  Production        3219 non-null   float64
 24  Drive             3219 non-null   float64
 25  Carpool           3219 non-null   float64
 26  Transit           3219 non-null   float64
 27  Walk              3219 non-null   float64
 28  OtherTransp       3219 non-null   float64
 29  WorkAtHome        3219 non-null   float64
 30  MeanCommute       3219 non-null   float64
 31  Employed          3219 non-null   int64
 32  PrivateWork       3219 non-null   float64
 33  PublicWork        3219 non-null   float64
 34  SelfEmployed      3219 non-null   float64
 35  FamilyWork        3219 non-null   float64
 36  Unemployment      3219 non-null   float64
dtypes: float64(25), int64(10), object(2)
memory usage: 930.5+ KB

In [24]:
# I add a new column that caluclates the total pop by adding men and women
df2.insert(loc=1, column='New_Column', value=df2.Men + df2.Women)

In [25]:
df2.head()

,CountyId,New_Column,State,County,TotalPop,Men,Women,Hispanic,White,Black,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,1001,55036,Alabama,Autauga County,55036,26899,28137,2.7,75.4,18.9,...,0.6,1.3,2.5,25.8,24112,74.1,20.2,5.6,0.1,5.2
1,1003,203360,Alabama,Baldwin County,203360,99527,103833,4.4,83.1,9.5,...,0.8,1.1,5.6,27.0,89527,80.7,12.9,6.3,0.1,5.5
2,1005,26201,Alabama,Barbour County,26201,13976,12225,4.2,45.7,47.8,...,2.2,1.7,1.3,23.4,8878,74.1,19.1,6.5,0.3,12.4
3,1007,22580,Alabama,Bibb County,22580,12251,10329,2.4,74.6,22.0,...,0.3,1.7,1.5,30.0,8171,76.0,17.4,6.3,0.3,8.2
4,1009,57667,Alabama,Blount County,57667,28490,29177,9.0,87.4,1.5,...,0.4,0.4,2.1,35.0,21380,83.9,11.9,4.0,0.1,4.9

In [26]:
#here I see if the total population columns now equal each other
are_columns_identical = df2['New_Column'].equals(df2['TotalPop'])
print(are_columns_identical)

True

In [27]:
#They do equal each other. I no longer need two total population columns so I delete the one I made
df2 = df2.drop('New_Column', axis=1)

In [28]:
df2.head()

,CountyId,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,1001,Alabama,Autauga County,55036,26899,28137,2.7,75.4,18.9,0.3,...,0.6,1.3,2.5,25.8,24112,74.1,20.2,5.6,0.1,5.2
1,1003,Alabama,Baldwin County,203360,99527,103833,4.4,83.1,9.5,0.8,...,0.8,1.1,5.6,27.0,89527,80.7,12.9,6.3,0.1,5.5
2,1005,Alabama,Barbour County,26201,13976,12225,4.2,45.7,47.8,0.2,...,2.2,1.7,1.3,23.4,8878,74.1,19.1,6.5,0.3,12.4
3,1007,Alabama,Bibb County,22580,12251,10329,2.4,74.6,22.0,0.4,...,0.3,1.7,1.5,30.0,8171,76.0,17.4,6.3,0.3,8.2
4,1009,Alabama,Blount County,57667,28490,29177,9.0,87.4,1.5,0.3,...,0.4,0.4,2.1,35.0,21380,83.9,11.9,4.0,0.1,4.9

In [29]:
df2.State.nunique()

52

In [30]:
#The US usually consists of 50 states yet we have 52. It seems they also included DC and Puerto Rico. 
#No change needed
df2.State.unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming', 'Puerto Rico'],
      dtype=object)

In [40]:
#Let's look at the columns that I wan't able to view
#Nothing out of the ordinary.
print(df2.iloc[:, [10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28, 29]])

      Asian  Pacific  VotingAgeCitizen  Income  IncomeErr  IncomePerCap  \
0       0.9      0.0             41016   55317       2838         27824
1       0.7      0.0            155376   52562       1348         29364
2       0.6      0.0             20269   33368       2551         17561
3       0.0      0.0             17662   43404       3431         20911
4       0.1      0.0             42513   47412       2630         22021
...     ...      ...               ...     ...        ...           ...
3215    0.0      0.0             42838   18900       1219         10197
3216    0.0      0.0              7045   16261       2414         11136
3217    0.0      0.0             18053   19893       1935         10449
3218    0.0      0.0             27523   15586       1467          8672
3219    0.0      0.0             29763   14451       1371          8124

      IncomePerCapErr  Poverty  ChildPoverty  Professional  Service  Office  \
0                2024     13.7          20.1          35.3     18.0    23.2
1                 735     11.8          16.1          35.7     18.2    25.6
2                 798     27.2          44.9          25.0     16.8    22.6
3                1889     15.2          26.6          24.4     17.6    19.7
4                 850     15.6          25.4          28.5     12.9    23.3
...               ...      ...           ...           ...      ...     ...
3215              576     43.8          49.4          28.6     20.2    25.9
3216             1459     36.8          68.2          20.9     38.4    16.4
3217             1619     50.0          67.9          22.5     21.2    22.7
3218              702     52.4          62.1          27.7     26.0    20.7
3219              445     50.4          58.2          30.4     20.2    25.6

      Construction  Production  Drive  Carpool  Transit  Walk  OtherTransp  \
0              8.1        15.4   86.0      9.6      0.1   0.6          1.3
1              9.7        10.8   84.7      7.6      0.1   0.8          1.1
2             11.5        24.1   83.4     11.1      0.3   2.2          1.7
3             15.9        22.4   86.4      9.5      0.7   0.3          1.7
4             15.8        19.5   86.8     10.2      0.1   0.4          0.4
...            ...         ...    ...      ...      ...   ...          ...
3215          11.1        14.2   92.0      4.2      0.9   1.4          0.6
3216          16.9         7.3   76.3     16.9      0.0   5.0          0.0
3217          14.1        19.5   83.1     11.8      0.1   2.1          0.0
3218           9.5        16.0   87.6      9.2      0.0   1.4          1.8
3219          12.6        11.3   82.8      8.2      2.2   1.7          0.1

      WorkAtHome
0            2.5
1            5.6
2            1.3
3            1.5
4            2.1
...          ...
3215         0.9
3216         1.7
3217         2.8
3218         0.1
3219         5.0

[3219 rows x 20 columns]

In [42]:
df2.shape

(3219, 37)

In [ ]:
#There are 3219 rows
#There are 3218 counties in America and including Puerto Rico.
#However, this data is from 2017 so counties might have been changed

In [43]:
df2.County.nunique()

1954

In [44]:
#Many counties share the same names, explaining why the number of unique county names is so low
#Based on present day (2025), there are 1916 unique county names.
#Names might have been changed in the past 8 years.

In [45]:
#Data has been cleaned
#No splitting was necessary
#Missing values have been removed
#No duplicates found
#All columns have the correct data type
#Everything matches