In [71]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [72]:
df = pd.read_csv("my_file (1).csv")

In [73]:
df.head()

,Rank,Peak,All Time Peak,Actual gross,Adjusted gross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.
0,1,1,2,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour †,2023–2024,56,"$13,928,571",[1]
1,2,1,7[2],"$579,800,000","$579,800,000",Beyoncé,Renaissance World Tour,2023,56,"$10,353,571",[3]
2,3,1[4],2[5],"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour ‡[4][a],2008–2009,85,"$4,835,294",[6]
3,4,2[7],10[7],"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,2018–2019,156,"$2,546,795",[7]
4,5,2[4],NaN,"$345,675,146","$402,844,849",Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173",[8]

In [74]:
df.shape

(20, 11)

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 11 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Rank                              20 non-null     int64
 1   Peak                              9 non-null      object
 2   All Time Peak                     6 non-null      object
 3   Actual gross                      20 non-null     object
 4   Adjusted gross (in 2022 dollars)  20 non-null     object
 5   Artist                            20 non-null     object
 6   Tour title                        20 non-null     object
 7   Year(s)                           20 non-null     object
 8   Shows                             20 non-null     int64
 9   Average gross                     20 non-null     object
 10  Ref.                              20 non-null     object
dtypes: int64(2), object(9)
memory usage: 1.1+ KB

In [76]:
#rename all columns
df.columns = ['Rank', 'Peak', 'All_Time_Peak', 'Actual_Gross', 'Adjusted_Gross', 'Artist', 'Tour_Title', 'Years', 'Shows', 'Average_Gross','Reference']

In [77]:
df.head()

,Rank,Peak,All_Time_Peak,Actual_Gross,Adjusted_Gross,Artist,Tour_Title,Years,Shows,Average_Gross,Reference
0,1,1,2,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour †,2023–2024,56,"$13,928,571",[1]
1,2,1,7[2],"$579,800,000","$579,800,000",Beyoncé,Renaissance World Tour,2023,56,"$10,353,571",[3]
2,3,1[4],2[5],"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour ‡[4][a],2008–2009,85,"$4,835,294",[6]
3,4,2[7],10[7],"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,2018–2019,156,"$2,546,795",[7]
4,5,2[4],NaN,"$345,675,146","$402,844,849",Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173",[8]

In [78]:
#Remove all $ and commas from Gross Columns
df.Actual_Gross = df.Actual_Gross.replace('[\$,]','', regex=True)
df.Adjusted_Gross = df.Adjusted_Gross.replace('[\$,]','', regex=True)
df.Average_Gross = df.Average_Gross.replace('[\$,]','', regex=True)

<unknown>:2: SyntaxWarning: invalid escape sequence '\$'
<unknown>:3: SyntaxWarning: invalid escape sequence '\$'
<unknown>:4: SyntaxWarning: invalid escape sequence '\$'
<>:2: SyntaxWarning: invalid escape sequence '\$'
<>:3: SyntaxWarning: invalid escape sequence '\$'
<>:4: SyntaxWarning: invalid escape sequence '\$'
<>:2: SyntaxWarning: invalid escape sequence '\$'
<>:3: SyntaxWarning: invalid escape sequence '\$'
<>:4: SyntaxWarning: invalid escape sequence '\$'
<ipython-input-78-d77895df1dca>:2: SyntaxWarning: invalid escape sequence '\$'
  df.Actual_Gross = df.Actual_Gross.replace('[\$,]','', regex=True)
<ipython-input-78-d77895df1dca>:3: SyntaxWarning: invalid escape sequence '\$'
  df.Adjusted_Gross = df.Adjusted_Gross.replace('[\$,]','', regex=True)
<ipython-input-78-d77895df1dca>:4: SyntaxWarning: invalid escape sequence '\$'
  df.Average_Gross = df.Average_Gross.replace('[\$,]','', regex=True)

In [79]:
#errors were occurring when trying to convert data types so I increased the length of the list and found letters in the Actual_Gross column
df.head(20)

,Rank,Peak,All_Time_Peak,Actual_Gross,Adjusted_Gross,Artist,Tour_Title,Years,Shows,Average_Gross,Reference
0,1,1,2,780000000,780000000,Taylor Swift,The Eras Tour †,2023–2024,56,13928571,[1]
1,2,1,7[2],579800000,579800000,Beyoncé,Renaissance World Tour,2023,56,10353571,[3]
2,3,1[4],2[5],411000000,560622615,Madonna,Sticky & Sweet Tour ‡[4][a],2008–2009,85,4835294,[6]
3,4,2[7],10[7],397300000,454751555,Pink,Beautiful Trauma World Tour,2018–2019,156,2546795,[7]
4,5,2[4],NaN,345675146,402844849,Taylor Swift,Reputation Stadium Tour,2018,53,6522173,[8]
5,6,2[4],10[9],305158363,388978496,Madonna,The MDNA Tour,2012,88,3467709,[9]
6,7,2[10],NaN,280000000,381932682,Celine Dion,Taking Chances World Tour,2008–2009,131,2137405,[11]
7,7,NaN,NaN,257600000,257600000,Pink,Summer Carnival †,2023–2024,41,6282927,[12]
8,9,NaN,NaN,256084556,312258401,Beyoncé,The Formation World Tour,2016,49,5226215,[13]
9,10,NaN,NaN,250400000,309141878,Taylor Swift,The 1989 World Tour,2015,85,2945882,[14]
10,11,NaN,NaN,229100000[b],283202896,Beyoncé,The Mrs. Carter Show World Tour,2013–2014,132,1735606,[15][16]
11,12,NaN,14[17],227400000,295301479,Lady Gaga,The Monster Ball Tour *,2009–2011,203,1118227,[18]
12,13,NaN,NaN,204000000,251856802,Katy Perry,Prismatic World Tour,2014–2015,151,1350993,[19]
13,14,1[20],NaN,200000000,299676265,Cher,Living Proof: The Farewell Tour ‡[21][a],2002–2005,325,615385,[20]
14,15,2[c],NaN,194000000,281617035,Madonna,Confessions Tour,2006,60,3233333,[5]
15,16,NaN,NaN,184000000,227452347,Pink,The Truth About Love Tour,2013–2014,142,1295775,[22]
16,17,NaN,NaN,170000000,213568571,Lady Gaga,Born This Way Ball,2012–2013,98,1734694,[d]
17,18,NaN,NaN,169800000,207046755,Madonna,Rebel Heart Tour,2015–2016,82,2070732,[4]
18,19,NaN,NaN,167700000[e],204486106,Adele,Adele Live 2016,2016–2017,121,1385950,[25]
19,20,NaN,NaN,150000000,185423109,Taylor Swift,The Red Tour,2013–2014,86,1744186,[26]

In [80]:
#Remove letters from Actual_Gross
df['Actual_Gross'] = df['Actual_Gross'].str.replace(r'[a-zA-Z]', '', regex=True)

In [81]:
df['Actual_Gross'] = df['Actual_Gross'].str.replace(r'\D', '', regex=True)

In [82]:
#convert data types
df['Actual_Gross'] = df['Actual_Gross'].astype(float)
df.Adjusted_Gross = df.Adjusted_Gross.astype(float)
df.Average_Gross = df.Average_Gross.astype(float)

In [83]:
df.head(20)

,Rank,Peak,All_Time_Peak,Actual_Gross,Adjusted_Gross,Artist,Tour_Title,Years,Shows,Average_Gross,Reference
0,1,1,2,780000000.0,780000000.0,Taylor Swift,The Eras Tour †,2023–2024,56,13928571.0,[1]
1,2,1,7[2],579800000.0,579800000.0,Beyoncé,Renaissance World Tour,2023,56,10353571.0,[3]
2,3,1[4],2[5],411000000.0,560622615.0,Madonna,Sticky & Sweet Tour ‡[4][a],2008–2009,85,4835294.0,[6]
3,4,2[7],10[7],397300000.0,454751555.0,Pink,Beautiful Trauma World Tour,2018–2019,156,2546795.0,[7]
4,5,2[4],NaN,345675146.0,402844849.0,Taylor Swift,Reputation Stadium Tour,2018,53,6522173.0,[8]
5,6,2[4],10[9],305158363.0,388978496.0,Madonna,The MDNA Tour,2012,88,3467709.0,[9]
6,7,2[10],NaN,280000000.0,381932682.0,Celine Dion,Taking Chances World Tour,2008–2009,131,2137405.0,[11]
7,7,NaN,NaN,257600000.0,257600000.0,Pink,Summer Carnival †,2023–2024,41,6282927.0,[12]
8,9,NaN,NaN,256084556.0,312258401.0,Beyoncé,The Formation World Tour,2016,49,5226215.0,[13]
9,10,NaN,NaN,250400000.0,309141878.0,Taylor Swift,The 1989 World Tour,2015,85,2945882.0,[14]
10,11,NaN,NaN,229100000.0,283202896.0,Beyoncé,The Mrs. Carter Show World Tour,2013–2014,132,1735606.0,[15][16]
11,12,NaN,14[17],227400000.0,295301479.0,Lady Gaga,The Monster Ball Tour *,2009–2011,203,1118227.0,[18]
12,13,NaN,NaN,204000000.0,251856802.0,Katy Perry,Prismatic World Tour,2014–2015,151,1350993.0,[19]
13,14,1[20],NaN,200000000.0,299676265.0,Cher,Living Proof: The Farewell Tour ‡[21][a],2002–2005,325,615385.0,[20]
14,15,2[c],NaN,194000000.0,281617035.0,Madonna,Confessions Tour,2006,60,3233333.0,[5]
15,16,NaN,NaN,184000000.0,227452347.0,Pink,The Truth About Love Tour,2013–2014,142,1295775.0,[22]
16,17,NaN,NaN,170000000.0,213568571.0,Lady Gaga,Born This Way Ball,2012–2013,98,1734694.0,[d]
17,18,NaN,NaN,169800000.0,207046755.0,Madonna,Rebel Heart Tour,2015–2016,82,2070732.0,[4]
18,19,NaN,NaN,167700000.0,204486106.0,Adele,Adele Live 2016,2016–2017,121,1385950.0,[25]
19,20,NaN,NaN,150000000.0,185423109.0,Taylor Swift,The Red Tour,2013–2014,86,1744186.0,[26]

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Rank            20 non-null     int64
 1   Peak            9 non-null      object
 2   All_Time_Peak   6 non-null      object
 3   Actual_Gross    20 non-null     float64
 4   Adjusted_Gross  20 non-null     float64
 5   Artist          20 non-null     object
 6   Tour_Title      20 non-null     object
 7   Years           20 non-null     object
 8   Shows           20 non-null     int64
 9   Average_Gross   20 non-null     float64
 10  Reference       20 non-null     object
dtypes: float64(3), int64(2), object(6)
memory usage: 1.3+ KB

In [85]:
#Columns Peak and All_Time_Peak are mostly empty and the data that is in there is confusing
#Therefore, I removed them since they add little value to this dataset
df.drop('Peak', axis=1, inplace=True)

In [86]:
df.drop('All_Time_Peak', axis=1, inplace=True)

In [87]:
df.head()

,Rank,Actual_Gross,Adjusted_Gross,Artist,Tour_Title,Years,Shows,Average_Gross,Reference
0,1,780000000.0,780000000.0,Taylor Swift,The Eras Tour †,2023–2024,56,13928571.0,[1]
1,2,579800000.0,579800000.0,Beyoncé,Renaissance World Tour,2023,56,10353571.0,[3]
2,3,411000000.0,560622615.0,Madonna,Sticky & Sweet Tour ‡[4][a],2008–2009,85,4835294.0,[6]
3,4,397300000.0,454751555.0,Pink,Beautiful Trauma World Tour,2018–2019,156,2546795.0,[7]
4,5,345675146.0,402844849.0,Taylor Swift,Reputation Stadium Tour,2018,53,6522173.0,[8]

In [88]:
#Create two new columns from Years including start and end year 
df['Start_Year'] = df['Years'].str[:4]
df['End_Year'] = df['Years'].str[-4:]

In [89]:
df.head()

,Rank,Actual_Gross,Adjusted_Gross,Artist,Tour_Title,Years,Shows,Average_Gross,Reference,Start_Year,End_Year
0,1,780000000.0,780000000.0,Taylor Swift,The Eras Tour †,2023–2024,56,13928571.0,[1],2023,2024
1,2,579800000.0,579800000.0,Beyoncé,Renaissance World Tour,2023,56,10353571.0,[3],2023,2023
2,3,411000000.0,560622615.0,Madonna,Sticky & Sweet Tour ‡[4][a],2008–2009,85,4835294.0,[6],2008,2009
3,4,397300000.0,454751555.0,Pink,Beautiful Trauma World Tour,2018–2019,156,2546795.0,[7],2018,2019
4,5,345675146.0,402844849.0,Taylor Swift,Reputation Stadium Tour,2018,53,6522173.0,[8],2018,2018

In [90]:
#convert to integers
df['Start_Year'] = df['Start_Year'].astype('int64')
df['End_Year'] = df['End_Year'].astype('int64')

In [91]:
#new column with total years touring
#Since months are not included we do not know the exact number of years so I just included the maxed potenial of years
df['Total_Years']=(df['End_Year']-df['Start_Year']+1)

In [92]:
df.head()

,Rank,Actual_Gross,Adjusted_Gross,Artist,Tour_Title,Years,Shows,Average_Gross,Reference,Start_Year,End_Year,Total_Years
0,1,780000000.0,780000000.0,Taylor Swift,The Eras Tour †,2023–2024,56,13928571.0,[1],2023,2024,2
1,2,579800000.0,579800000.0,Beyoncé,Renaissance World Tour,2023,56,10353571.0,[3],2023,2023,1
2,3,411000000.0,560622615.0,Madonna,Sticky & Sweet Tour ‡[4][a],2008–2009,85,4835294.0,[6],2008,2009,2
3,4,397300000.0,454751555.0,Pink,Beautiful Trauma World Tour,2018–2019,156,2546795.0,[7],2018,2019,2
4,5,345675146.0,402844849.0,Taylor Swift,Reputation Stadium Tour,2018,53,6522173.0,[8],2018,2018,1

In [93]:
#I no longer need this column
df.drop('Years', axis=1, inplace=True)

In [94]:
df.head()

,Rank,Actual_Gross,Adjusted_Gross,Artist,Tour_Title,Shows,Average_Gross,Reference,Start_Year,End_Year,Total_Years
0,1,780000000.0,780000000.0,Taylor Swift,The Eras Tour †,56,13928571.0,[1],2023,2024,2
1,2,579800000.0,579800000.0,Beyoncé,Renaissance World Tour,56,10353571.0,[3],2023,2023,1
2,3,411000000.0,560622615.0,Madonna,Sticky & Sweet Tour ‡[4][a],85,4835294.0,[6],2008,2009,2
3,4,397300000.0,454751555.0,Pink,Beautiful Trauma World Tour,156,2546795.0,[7],2018,2019,2
4,5,345675146.0,402844849.0,Taylor Swift,Reputation Stadium Tour,53,6522173.0,[8],2018,2018,1

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Rank            20 non-null     int64
 1   Actual_Gross    20 non-null     float64
 2   Adjusted_Gross  20 non-null     float64
 3   Artist          20 non-null     object
 4   Tour_Title      20 non-null     object
 5   Shows           20 non-null     int64
 6   Average_Gross   20 non-null     float64
 7   Reference       20 non-null     object
 8   Start_Year      20 non-null     int64
 9   End_Year        20 non-null     int64
 10  Total_Years     20 non-null     int64
dtypes: float64(3), int64(5), object(3)
memory usage: 1.6+ KB

In [96]:
#Data has been cleaned
#Years was splitted into start year and end year
#total years was added
#Columns with too many irreplaceable missing values were removed
#No duplicates found
#All columns have the correct data type
#Everything matches